* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: inherit;
    font-family: 'Roboto',
        sans-serif;
}

html {
    box-sizing: border-box;
}

// globals
h2 {
    font-size: 1.5rem;
    font-weight: 500;
}

p {
    font-size: 0.85rem;
    font-weight: normal;
}

button {
    font-size: 0.85rem;
    font-weight: normal;
}

body {
    background-color: #240022;
}

.credits {
    font-size: 0.75rem;
    font-weight: 300;
}

// fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');
@import "../scss/fontawesome.scss";
@import "../scss/solid.scss";

// mixins
@mixin center-col () {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin center-row () {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin align-col ($pos) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: $pos;
}

@mixin align-row ($pos) {
    display: flex;
    flex-direction: row;
    justify-content: $pos;
    align-items: center;
}

.navbar {
    width: 100%;
    min-height: 5rem;
    // background-color: #331250;
    // border-radius: 0 0 5rem 5rem;
    @include center-col();

    &-wrapper {
        width: 85%;
        @include center-row();
        justify-content: space-between;

        .logo-container {
            width: 20rem;

            .logo {
                font-size: 2.5rem;
                font-family: 'Gochi Hand', cursive;
                color: #fff;
                font-weight: 500;
            }
        }

        .menu {
            width: calc(100% - 20rem);

            @include align-row(right);

            a {
                margin: 0 1rem;
                padding: 0.65rem 1rem;
                color: #fff;
                text-decoration: none;
                transition: color 0.3s ease-in;
                font-size: 0.85rem;

                &:visited,
                &:active {
                    color: #fff;
                }

                &:hover {
                    box-shadow: 0 0 0 0.085rem #fff;
                    border-radius: 0.35rem;
                }
            }

            .active {
                box-shadow: 0 0 0 0.085rem #fff;
                border-radius: 0.35rem;
            }

            .coming-soon {
                color: #707070 !important;

                &:hover {
                    box-shadow: none;
                }

                &::after {
                    content: ' (Coming soon!)';
                }
            }
        }
    }
}

// semicolon stuff
.hero {
    width: 100%;
    min-height: calc(100vh - 5rem);
    // background-color: #f0f0f0;
    @include center-col();

    &-wrapper {
        width: 80%;
        @include center-row();
        justify-content: space-between;
        // background-color: yellow;

        &-container {
            width: 50%;
            // background-color: yellow;
            @include center-col();

            h2 {
                margin-bottom: 2rem;
                color: #fff;
            }

            .input-container {
                @include align-col(left);

                .textarea {
                    width: 30rem;
                    height: 25rem;
                    position: relative;

                    .input {
                        font-size: 1rem;
                        line-height: 1.5;
                        width: 100%;
                        height: 100%;
                        padding: 1.5rem 8rem 1.5rem 1.5rem;
                        resize: none;
                        border-radius: 0.55rem 0.5rem 0 0;
                        background-color: #360033;
                        color: #fff;
                    }

                    .total {
                        // margin: 0;
                        color: rgba(255, 255, 255, 0.5);
                        position: absolute;
                        top: 1.5rem;
                        right: 2rem;
                        font-size: 1rem;
                        line-height: 1.5;
                    }

                    .done {
                        color: #fff;
                        padding: 0.3rem 0.7rem;
                        border-radius: 0.2rem;
                        background-color: #43A047;
                        top: 1.2rem;
                        right: 1.2rem;
                    }
                }

                .btn-container {
                    width: 30rem;
                    height: 3.5rem;
                    // background-color: blue;
                    @include center-row();

                    .run,
                    .copy {
                        width: 50%;
                        height: 100%;
                    }

                    .run {
                        background-color: #F23185;
                        color: #fff;
                        border-radius: 0 0 0 0.5rem;

                        &:hover {
                            background-color: #D90073;
                            cursor: pointer;
                        }
                    }

                    .copy {
                        background-color: #e0e0e0;
                        color: #505050;
                        border-radius: 0 0 0.5rem 0;

                        &:hover {
                            background-color: #d0d0d0;
                            cursor: pointer;
                        }
                    }
                }
            }

            .requirement {
                margin-top: 2rem;
                line-height: 1.5;
                text-align: center;
                color: #707070;
            }
        }

        .illustration {
            margin-top: 2rem;
            width: 15rem;
            animation: terbang 4s infinite;

            @keyframes terbang {
                0% {
                    transform: rotateZ(30deg) scale(1);
                }

                25% {
                    transform: rotateZ(20deg) scale(0.9);
                    margin-left: 2.5rem;
                }

                50% {
                    transform: rotateZ(30deg) scale(1.1);
                    margin-left: 5rem;
                }

                75% {
                    transform: rotateZ(20deg) scale(0.7);
                    margin-bottom: 2rem;
                    margin-left: 10rem;
                }

                100% {
                    transform: rotateZ(30deg) scale(1);
                }
            }
        }

        .big-text {
            margin-top: -1rem;
            width: 50%;
            padding: 0 7rem;
            // background-color: red;

            h1 {
                font-size: 3.5rem;
                font-weight: 700;
                color: #fff;
                margin-bottom: 1rem;

                span {
                    font-size: 5rem;
                    font-family: 'Gochi Hand', cursive;
                    color: #fff;
                    font-weight: 500;
                }
            }

            h2 {
                color: #fff;
                font-weight: normal;
                font-size: 1.5rem;
            }

            .tutorial-title {
                font-size: 2rem;
            }

            .tutorial-subtitle {
                font-size: 1.25rem;
                color: #F23185;
                margin: 1rem 0;
            }

            .tutorial-desc {
                margin-left: 1rem;
                font-size: 1rem;
                color: #fff;
                line-height: 2;
            }

            li {
                margin-left: 1rem;
            }

            .example {
                @include align-row(left);

                .item-2 {
                    margin-left: 6rem;
                }
            }
        }
    }
}

// footer stuff
.footer {
    width: 100%;
    height: 5rem;
    background-color: #fff;
    @include center-col();

    &-wrapper {
        width: 85%;
        height: 100%;
        @include center-col();
        // background-color: yellow;
    }
}